{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}"
          rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

  {% block header %}
<div class="bs-docs-header" id="content">
      <div class="container">

        <p><i>Information Need Research Survey (Master Thesis at TU Muenchen)</i></p>
      </div>
</div>
{% endblock header %}
    {% block content %}


    {% endblock %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>


<div class="bs-docs-footer">
   <div class="container">
<div class="clearfix">
    </div>
   </div>
</div>


</html>