{% extends "base.html" %}
{% load render_table from django_tables2 %}
<body>
{% block content %}
    </br></br>
     <div class="row">
        <div  class="col-sm-9">
            <h4 align="center">The average time for the rating all the links is {{ average_time }} minutes.</h4>

        </div>
    </div>
    <div class="panel panel-primary">
  <div class="panel-heading"><h3 align="center"><i>Dashboard for survey statistics!!</i></h3></div>
    <table class="table">
    {% render_table evaluation_table %}
    </table>
  </div>
    </br> </br> </br> </br> </br> </br> </br> </br>
{% endblock %}
</body>
