{% extends "base.html" %}
<body>
{% block content %}
    <div class="success">
      <div class="container">
    <h1>Thanks for your responses. All your responses have been recorded!</h1>
    <p>Please click <a href="/survey/success_code_download/{{ success_code }}/">here to download the proof document</a>. You will need it to proof that you completed the task.</p>
        <p><strong>Note:</strong> Please don't refresh this page as it will generate invalid code!!</p>
    </div>
    </div>
    </br> </br> </br> </br> </br> </br> </br> </br>
{% endblock %}
</body>
