{% extends "base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <head lang="en">
    {% load i18n bootstrap3 static %}
    <meta charset="UTF-8">
   <!--<link rel="stylesheet" type="text/css" href="/static/css/tooltipster.css" />-->
         <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
         <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.2.min.js"></script>
         <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tooltipster.min.js" type="text/javascript"></script>
         <script type="text/javascript" src="{{STATIC_URL}}js/explanation.js" type="text/javascript"></script>
    </head>
    <form action="{% url 'survey_view' %}" method="post">
    {% csrf_token %}
    <div id="survey_form" class="container">
        <div class="row">
        <div  class="col-sm-9">
            <h4> Please click on the url <i class="glyphicon glyphicon-arrow-down"></i>below and review it.</h4>
       <a class="url" href="{{ url }}" target="_blank">{{ url }}</a>
        </div>
    </div>
        <div class="row">
         <div  class="col-md-12">
             <h4><b>Information Need:</b></h4><p>An information need describes the information that needs to be satisfied.
                    It is the information which user demands to satisfy his/her specific need.</p>
         </div>
        </div>
         <div class="row">
         <div  class="col-md-12">
             <h4><strong><i>Time Constraint:</i></strong></h4><p>Time is a really important aspect for an information need and its satisfaction.
             So this first axes signifies if the user addresses his information need to at a specific time or not.</p>
         </div>
        </div>
        <div class="row">
         <div  class="col-md-12">
             <h4><strong><i>Validity of Answer:</i></strong></h4><p>It signifies dependence between the time and the information need and the answer,
         which satisfies the information need.i.e. How long the answer to a corresponding information need will be valid.</p>
         </div>
        </div>
         <div class="row">
         <div  class="col-md-12">
             <h4><strong><i>Generality of Applicability:</i></strong></h4><p>It signifies  whether the information need is for a particular user
             or if other users could have the same information need.</p>
         </div>
        </div>
        <div class="row">
         <div  class="col-md-12">
             <h4><strong><i>Location Constraint:</i></strong></h4><p>It signifies,if an information need is influenced by
             the location i.e. if location is an important factor in providing an answer to the user's information need.</p>
         </div>
        </div>
         <div class="row">
         <div  class="col-md-12">
             <h4><strong><i>Knowledge Codification:</i></strong></h4><p>Knowledge codification denotes how codified the
             knowledge that is needed to satisfy the information need is .i.e. if the knowledge needed to satisfy user's
             information need is a commonly accepted knowledge or fact for e.g.in form of books or articles or if it is something
             very widely discussed or controversial.</p>
         </div>
        </div>
        <div class="row">
         <div  class="col-md-12">
            <p class="alert alert-info" role="alert">Please hover over the respective fields to get more description of how you should fill them out.</p>
         </div>
        </div>
     <div id="row-2" class="row">
        <div class="col-sm-9">
          <div id="field1" data-toggle="tooltip" data-placement="left" title="Time is a really important aspect for an information need and its satisfaction. So this
             first axes signifies if the user addresses his information need to at a specific time or not.It has following
             characteristics-

           – Hard constraint: If the information need is addressed at a specific time. For instance if a user needs to
             get an idea for a good Christmas present, then the information need is clearly addressed at a
             specific time with the urgency depending on the current date.

           – Soft constraint: If the information need is addressed at a vague time. For instance if the need is: ideas
             for summer holidays.

            • Independent of time: Not dependent on the time. For instance like the need: “What is your favourite
              football team?”."> {% bootstrap_field form.time_constraint %} </div>
        </div>
    </div>
      <div class="row">
        <div class="col-sm-9">
        <div id="field2" title="This axis describes dependence between the time and the information need and the answer,
         which satisfies the information need. It has following characteristics-

        • Long: information need which is valid for ever (e.g. decades, centuries, forever).For instance,“When was Mozart
          born?”.

        • Medium: information need which is valid for a long time (e.g. months, maybe years).For instance,“Who is the
          current football player of the year?” or “How much does the new MacBook Pro cost?”

        • Short: information need which is valid for a short time (e.g. days, maybe weeks).For instance,“Will it be sunny
          tomorrow?”"> {% bootstrap_field form.answer_validity %} </div>
        </div>
    </div>
        <div class="row">
           <div class="col-sm-9">
          <div id="field3" title="This axis, generality of applicability, describes whether the information need is for
          a particular user or if other users could have the same information need. So this axis has three characteristics:

         • High generality: This includes all the information needs that are not tailored to one particular user.So the
           information need is shared by a lot of people.For instance,“What is the average cost of living in Munich?”.

         • Low generality: This covers all the information needs that are needed to satisfy a specific problem that a
           particular user or maybe a few other people have.For instance,“My GRE score is 310.Is it sufficient to get
           admission in a good university in United States?”

         • Medium generality: This covers all the information needs that are needed to satisfy a specific problem that
           targets a specific subset of people.For instance,“How to compute running time in Java?”"> {% bootstrap_field form.generality_applicability %} </div>
            </div>
        </div>
        <div class="row">
           <div class="col-sm-9">
               <div id="field4" title="This axis describes, if an information need is influenced by the location. It has two
           characteristics-

           • High: user’s location has a definite impact on information need  & the type of answer expected. For instance,
            Where is the closest Aldi supermarket to Klinikum Grosshadern U bahn Station?

           • Low: location does not impact the information need.For instance,Which is the best android phone?" > {% bootstrap_field form.location_constraint %} </div>
            </div>
        </div>
         <div class="row">
           <div class="col-sm-9">
         <div id="field5" title="“Knowledge codification” describes how codified the knowledge that is needed to satisfy
          the information need is. For instance, in the form of books or articles or whether it is commonly accepted
          knowledge or knowledge which is widely discussed and controversial. Therefore this axis has following
          characteristics:

          • High: The knowledge that is needed is generally defined, for example the information need “What are the
          symptoms of Parkinson’s disease?”

          • Low: Knowledge that is needed is not codified, for example questions that are asking for recommendation
          (“What is the best restaurant in Munich?”) or opinions (“Do you like the new BMW i3?”)"> {% bootstrap_field form.degree_knowledge %} </div>
            </div>
        </div>
        <div class="row">
             <div class="col-sm-9">
          <input type="submit" name ="Submit" value="Submit" />
             </div>
        </div>
        <input type="hidden" name="url" value="{{ url }}" />
    </div>
</form>

{% endblock %}
</body>
</html>